// Variables
$primary-color: #3498db;
$secondary-color: #2c3e50;
$font-family: Arial, sans-serif;

$greenish: #00da66;
$purple: #6d00da;

// Mixins
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin image-container($border-color) {
    img {
        width: 200px;
        height: 200px;
        border-radius: 16px;
        border: 3px solid $border-color;
    }
}

// Global styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $primary-color;
}

// Navigation styling
nav {
    background-color: $primary-color;
    padding: 10px 0;

    ul {
        @include reset-list;
        @include center-elements;

        li {
            margin: 0 15px;

            a {
                text-decoration: none;
                color: white;
                transition: color 0.3s;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

// Main content styling
main {
    @include center-elements;
    flex-direction: column;
    height: 80vh;

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

.header-link {
    &:hover {
        color: $greenish;
    }

    &:focus {
        color: red;
    }

    &:active {
        color: gray;
    }
}

.heading {
    color: $greenish;
}

.image-box {
    @include image-container($purple);
}

// EXERCISE

// TODO: Add another image and style it using mixins and variables

// Your code should go here!
